# Python cache files
__pycache__/
*.pyc
*.pyo

# virtual environments
venv/

# sensitive environment files
.env

# configuration files with sensitive data
config.yaml

# JetBrains IDE settings
.idea/

